body{
    background-color: blanchedalmond;

}

h1{
    margin-top: 40px;
    text-align: center;
}

.contenedor-imagenes {
    display: flex; /* Utilizamos flexbox para alinear las imágenes */
    flex-wrap: wrap; /* Permitimos que las imágenes se envuelvan en filas */
    justify-content: center; /* Centramos las imágenes horizontalmente */
}

.fila {
    display: flex; /* Usamos flexbox para organizar las imágenes en filas */
}

.imagen1 {
    margin-left: 200px; /* Espacio entre las imágenes */
    width: 300px; /* Ancho de las imágenes */
    height: 500px; /* Altura ajustada automáticamente */
}
.imagen2 {
    margin-left: 150px; /* Espacio entre las imágenes */
    width: 600px; /* Ancho de las imágenes */
    height: 500px; /* Altura ajustada automáticamente */
}
.imagen3 {
    margin-right: 100px; /* Espacio entre las imágenes */
    width: 400px; /* Ancho de las imágenes */
    height: 450px; /* Altura ajustada automáticamente */
}
.imagen4 {
    margin-right: 150px; /* Espacio entre las imágenes */
    width: 400px; /* Ancho de las imágenes */
    height: 350px; /* Altura ajustada automáticamente */
}
.imagen5 {
    margin-left: 100px; /* Espacio entre las imágenes */
    width: 300px; /* Ancho de las imágenes */
    height: 350px; /* Altura ajustada automáticamente */
}
.imagen6 {
    margin-left: 150px; /* Espacio entre las imágenes */
    width: 300px; /* Ancho de las imágenes */
    height: 350px; /* Altura ajustada automáticamente */
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 20px 20px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-widht:800px) {
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px
    }
    
}


.nav-bg{
    background-color: rgb(233, 202, 164); /*para el color de fondo de la barra de menu */
}

.contenedor{ 
    max-width: 120rem; /*tomara el maximo de 1200 megapixeles.... esto es complementario para el tema de lo responsive */
    margin:0 auto;
}
    
.navegacion-principal{
    display: flex; /*se habilitan los elementos de izquierda a derecha .. ademas habilita las propiedades de flexbock tendremos accesos a nuevas propiedades */  
    justify-content: space-evenly ; /*justify content los distribuye horizontalmente.... space between los separa*/    
    align-items: center;
}
    
.navegacion-principal a { /*para modificar las palabras dentro del menu*/
    
    text-decoration: none; /*para eliminar el subrayado de los enlaces*/
    color:aliceblue; /*color a las palabras*/
    font-size: 1rem;
    font-weight: bold; /*para dejar la palabra en negrita*/
    padding: 1rem; /*esto hara que todo el entorno de las letras al llevar el puntero se visualice 
    el color que coloque abajo en .navegacion-principal a:hover ... sera de color negro*/  
}
    
.navegacion-principal a:hover{ /* esto hace que las palabras de la clase de navagacion-principal a tomen un color de fondo (color chocolate que fue el que elegi) al llevar el puntero */
    background-color: tan;
    color:black; /*cambiara el color de las palabras al acercar el puntero eran blancas queran en negras*/
    border-radius: 30px;
    
}

.img-nav{
    width: 60px;
    height: 50px;
    margin-left: -300px;
}